.body{
  display: flex;
  font-family: 'Roboto', sans-serif;

}
.App{
  display: flex;
  
  justify-content: space-evenly;
  height:100vh;
}
.routes{
  align-self: center;
}
.nav{
 align-items: center;
  width : 50%;
}
.main{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mb-2{
  padding-left:20%;
}
.mb-3{
  padding-left:20%;

}
.h1{
  margin: 5%;
  margin-top : 2%;
}
.history{
  align-items: center;
  justify-content: space-between;
}
.col-8{
  width :30rem;
  background-color: rgb(58, 58, 159);
  height: 40rem;
  color: white;
}
.trans{
  width: 10rem;
  background-color: rgb(58, 58, 159);
  text-align: center;
  height: fit-content;
  color :white;
}
.show{
  margin-top: 10%;
  height: 43%;
  width : 30%;
  background-color: rgb(58, 58, 159);
  color: white;
  border: 1rem;
  align-items: center;
  text-align: center;
}
.welcome{
  background-color: rgb(75,0,130);
  width :30%;
  height: 30%;
  color :white;
  text-align: center;
  margin-top: 10%;
  margin-right: 30%;
  
}
.succ{
  margin-bottom: 8%;
}

.red{
  color:red;
 
}
.form-label{
  padding-left:1%;
  padding-top:2%
}
 .chart .title{
  position :absolute;
  left : 90;
  right :90;
  top:30%;
  margin-left:6%;
  margin-right:auto;
 } 
 .graph{
  width : auto;
  height : auto;
  padding-right : 40%;
 }
#form{
  width:30%;
  background-color:rgb(58, 58, 159);
  height : 40%;
  color:white;
}
.delete{
  color :white;
  border: 1px;
  border-color: bisque;
  background-color: rgb(58, 58, 159);
  width:30%;;
  padding-top: 8%;
  height :50%;
  padding-left:5%;
}
.balance{

width:fit-content;
background-color: rgb(255,215,0);
}
.expences{
  width:fit-content;
background-color: rgb(220,20,60);
}
.income{
  width:fit-content;
  background-color: rgb(75,0,130);
}
.img{
height: 30%;
  width:30%;
  height:min-content;
  margin-right: 60%;
}
ul{
  list-style: none;
  display: flex;
}
.nav-item{
  list-style: none;
}
.nav-link{

color:rgb(75,0,130);
font-size: larger;
}
 .btn-warning{
  margin-left: 20%;
padding-top: 3px;
margin-top: 5%;}
/*    sign up form */
.form-control {
	min-height: 41px;
	box-shadow: none;
	border-color: #e1e1e1;
}
.form-control:focus {
	border-color: #00cb82;
}	
.form-control, .btn {        
	border-radius: 3px;
}
.form-header {
	margin: -30px -30px 20px;
	padding: 30px 30px 10px;
	text-align: center;
	background: #00cb82;
	border-bottom: 1px solid #eee;
	color: #fff;
}
.form-header h2 {
	font-size: 34px;
	font-weight: bold;
	margin: 0 0 10px;
	font-family: 'Pacifico', sans-serif;
}
.form-header p {
	margin: 20px 0 15px;
	font-size: 17px;
	line-height: normal;
	font-family: 'Courgette', sans-serif;
}
.signup-form {
	width: 390px;
	margin: 0 auto;	
	padding: 30px 0;	
}
.signup-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #f0f0f0;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signup-form .form-group {
	margin-bottom: 20px;
}		
.signup-form label {
	font-weight: normal;
	font-size: 14px;
}
.signup-form input[type="checkbox"] {
	position: relative;
	top: 1px;
}
.signup-form .btn {        
	font-size: 16px;
	font-weight: bold;
	background: #00cb82;
	border: none;
	min-width: 200px;
}
.signup-form .btn:hover, .signup-form .btn:focus {
	background: #00b073 !important;
	outline: none;
}
.signup-form a {
	color: #00cb82;		
}
.signup-form a:hover {
	text-decoration: underline;
}